<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>Category: {{ currentCategoryName }}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <!--loop over the collection of  products-->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{tempProduct.id}}">
                            <img src="{{tempProduct.imageUrl}}" />
                        </a>
                        <!--adding a link on both product image and product name-->
                        <a routerLink="/products/{{tempProduct.id}}">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                       

                        <div class="price">{{ tempProduct.unitPrice }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <!-- if products empty then display a message -->
                <!-- ?를 넣은 이유는? Safe navigation operator.
                    property paths에 있는 Null이나 Undefiend values로 부터의 가드 역할.
                    즉 길이가 0이거나 널, 혹은 언디파인드일 때, 밑에 문구가 보일 것.
                -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found for given keyword.
                </div>

            </div>
        </div>
    </div>
</div>