<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <h4>Category: {{ currentCategoryName }}</h4>
                <hr>
                <!--loop over the collection of  products-->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        
                        <a routerLink="/products/{{tempProduct.id}}">
                            <img src="{{tempProduct.imageUrl}}" />
                        </a>

                        <!--adding a link on both product image and product name-->
                        <a routerLink="/products/{{tempProduct.id}}">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                       
                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                        <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
                        <!--버튼에 부트스트랩 스타일 추가했다.-->
                    </div>
                </div>
                <!-- if products empty then display a message -->
                <!-- ?를 넣은 이유는? Safe navigation operator.
                    property paths에 있는 Null이나 Undefiend values로 부터의 가드 역할.
                    즉 길이가 0이거나 널, 혹은 언디파인드일 때, 밑에 문구가 보일 것.
                -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found for given keyword.
                </div>

            </div>
            <!-- begin footer -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">

                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                (pageChange)="listProducts()"
                                                [boundaryLinks]="true"
                                                [maxSize]="5">
                                </ngb-pagination>

                            </div>
                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span calss="mr-2">Page Size</span>
                                <!--$event는 HTML element 타입이고, 어떤 html element든 대변할 수.
                                그렇기에 value 프로퍼티가 항상 $event.target 안에 존재하는 것이 보장되는 것은 아니다.
                                새로운 앵귤러 프로젝트는 fullTemplateTypeCheck가 기본으로 true이기 때문에 컴파일러 에러가 발생할 수 있다.-->
                                <select (change)="updatePageSize($any($event.target).value)">
                                    <option>2</option>
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer -->
        </div>
    </div>
</div>