#removeBtn {
    color: #fff;
    background-color: #0d6efd !important;
    border-color: #0d6efd;
}

#removeBtn {
    color: #fff;
    background-color: #0d6efd !important;
    border-color: #0d6efd;
}
#checkoutBtn {
    color: #fff;
    background-color: #0d6efd !important;
    border-color: #0d6efd;
}
