<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <!-- 로고 이미지 및 카테고리 리스트 -->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>
    <app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- END MENU SIDEBAR-->
</div>

<!-- PAGE CONTAINER-->
<div class="page-container">
  <!-- HEADER DESKTOP-->
  <!--검색창 및 쇼핑카트 있는 헤더 부분-->
  <header class="header-desktop">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="header-wrap">
          <app-search></app-search>

          <app-login-status></app-login-status>
          
          <app-cart-status></app-cart-status>

        </div>
        <div class="account-wrap"></div>
      </div>
    </div>
  </header>
  <!-- END HEADER DESKTOP-->
  <!-- MAIN CONTENT-->
  <router-outlet></router-outlet>
  <!--placeholder역할. 라우트에 기반하여 컴포넌트 렌더링 해준다.
  메인 컨텐트 위치에 들어가는 경우는 기존 셀렉터대신 라우터 아울렛 사용하는 것으로 추정. 바뀔 수 있기 때문이다.
  -->
  <!-- <app-product-list></app-product-list> -->
</div>
<!--</div> 이건 어디서 나온건지 모르겠음..-->

<!--ENDS PAGE CONTAINER-->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>